html {
    font-size:10px;
}
body {
    font-family: Georgia, serif;
}
.index{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/indexImg.png);
}

.indexContainer {
    min-width: 40%;
    background-color: rgba(0,0,0,0.3);
    border-radius: 1.5em;
    color: #fefefe;
    overflow: hidden;
    position: absolute;
    left: 30%;
    top: 20%;
    width: auto;
    padding: 1rem;
}
.about-me-title{
    font-size: 1.6rem;
    padding: 2rem;
}
.header-index h1 {
    font-size: 2.2rem;
    font-weight: 400;
    text-align: center;
    line-height: 90%;
    text-shadow: 0 1px 1px #333;
    letter-spacing: 0.4rem;
    margin-top: 3rem;
}
.header-index p {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    line-height: 220%;
    text-shadow: 0 1px 1px #333;
    border-bottom: 2px solid #d3d3d3;
}
.index-content {
    padding: 2rem;
    overflow: hidden;
    padding-bottom: 0;
}
.index-content ul {
    border-bottom: 2px solid #d3d3d3;
    margin: 2rem 0 2rem 0;
    padding-bottom: 1rem;
}
.index-content ul li{
    background-color: rgba(0,0,0,0.5);
    padding: 1.6rem;
    overflow: hidden;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    border-radius: 0.5em;
}
.index-content ul li:hover{
    cursor: pointer;
    background: #fff;
    color: #000;
}
.index-footer {
    text-align: right;
    font-size: 1.6rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.index-footer a {
    color: #fff;
    padding: 0 1rem 0 1rem;
    border-radius: 0.5em;
}
.index-footer a:hover {
    color: #000;
    background: #fff;
}
.about-me {
    width: 980px;
    height: 100%;
    background: #f5f5d5;
    margin: 0 auto;
}
.about-me h1 {
    text-align: center;
    line-height: 2rem;
    padding: 2rem;
    font-size: 2rem;
}