html {
    font-size:10px;
}
body {
    font-family: Georgia, serif;
}
.index{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/indexImg.png);
}
@media (min-width: 641px) and (max-width:770px){
	body .indexContainer{
		min-width:70%;
	}
	body .about-me{
		min-width:80%;
	}
}

@media (min-width: 771px){
	body .indexContainer{
		min-width:40%;
	}
	body .about-me{
		min-width:50%;
	}
}
.indexContainer {
    background-color: rgba(0,0,0,0.3);
    border-radius: 1.5em;
    color: #fefefe;
    overflow: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    height: auto;
    max-height: 80%;
    min-width: 90%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: height 1s ease;
    transition: top 1s ease;
    padding: 1rem;
}
.header-index h1 {
    font-size: 2.2rem;
    font-weight: 400;
    text-align: center;
    line-height: 90%;
    text-shadow: 0 1px 1px #333;
    letter-spacing: 0.4rem;
    margin-top: 3rem;
}
.header-index p {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    line-height: 220%;
    text-shadow: 0 1px 1px #333;
    border-bottom: 2px solid #d3d3d3;
}
.index-content {
    padding: 2rem;
    overflow: hidden;
    padding-bottom: 0;
}
.index-content ul {
    border-bottom: 2px solid #d3d3d3;
    margin: 2rem 0 2rem 0;
    padding-bottom: 1rem;
}
.index-content ul li{
    background-color: rgba(0,0,0,0.5);
    padding: 1.6rem;
    overflow: hidden;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    border-radius: 0.5em;
}
.index-content ul li:hover{
    cursor: pointer;
    background: #fff;
    color: #000;
}
.index-footer {
    text-align: right;
    font-size: 1.4rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.index-footer a {
    color: #fff;
    padding: 0 1rem 0 1rem;
    border-radius: 0.5em;
}
.index-footer a:hover {
    color: #000;
    background: #fff;
}

/* 关于我的 */
.content-title {
    font-size: 1.8rem;
    padding: 2rem 0 1rem 0;
    color: orange;
    border-bottom: 1px solid #d3d3d3;
}
.indexContent {
    width: 100%;
    height: 100%;
    background: #f5f5d5;
}
.about-me {
    border-radius: 1.5em;
    color: #000;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 50%;
    width: auto;
    height: 100%;
    max-height: 80%;
    min-width: 90%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    transition: height 1s ease;
    transition: top 1s ease;
    padding: 1rem;
}
.about-me-title{
    font-size: 1.6rem;
    padding: 2rem 0 1rem 0;
}
.about-me h1 {
    text-align: center;
    line-height: 2rem;
    padding: 2rem;
    font-size: 2rem;
}